ErrorDocument 404 "/error/?id=DOC_NOTFOUND"
ErrorDocument 401 "/error/?id=DOC_CREDENTIALS"
ErrorDocument 403 "/error/?id=DOC_DENIED"
ErrorDocument 431 "/error/?id=DOC_HEADERS"
ErrorDocument 413 "/error/?id=DOC_REQUEST"
ErrorDocument 414 "/error/?id=DOC_URI"