@font-face {
    font-family: CMS;
    src: url('/font/font-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CMS;
    src: url('/font/font-italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: CMS;
    src: url('/font/font-bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: CMS;
    src: url('/font/font-bold-italic.ttf');
    font-weight: bold;
    font-style: italic;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

* {
    font-family: CMS, Arial, Calibri, Ubuntu, Roboto, Liberation Sans, Helvetica, sans-serif;
}

code {
    font-family: monospace;
}